@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

.logo{
  width: 80px; 
  height: auto; 
  cursor: pointer;
  margin-left: 3rem;
}

.topNav{
    width: 100%;           /* w-full */
    /* position: fixed;       fixed */
    padding: 0.5rem;
    display: flex;         /* flex */
    align-items: center;   /* items-center */
    justify-content: space-between; /* justify-between */
    /* z-index: 50;    */
    list-style: none; 
    background-color: white;       /* z-50 */
  
  }

  .topNavLinks{
    border-radius: 9999px; /* Fully rounded, equivalent to rounded-full */
    padding-left: 3rem; /* 12 multiplied by 0.25rem */
    padding-right: 3rem; /* 12 multiplied by 0.25rem */
    padding-top: 0.75rem; /* 3 multiplied by 0.25rem */
    padding-bottom: 0.75rem; 
    gap: 4rem;
    display: flex;
    align-items: center;
    list-style: none;
  }

 .topNavLinks>li:hover{
  color: rgb(182, 136, 19)
 }

.quote-button{
  padding: 16px;
  border-radius: 28px;
  border: solid 1px black;
  margin-right: 3rem;
  transition: background-color 0.3s ease;
}

.quote-button:hover {
  background-color: #1b1b19;
  color: white;
}

.header-image{
  width: 100vw;
  height: auto;
  display: block;
}

.headerDiv{
  overflow: hidden;
  height: 100vh;
}

.header-text{
  position: absolute;
  top: 65%; /* Centers vertically */
  left: 50%; /* Centers horizontally */
  transform: translate(-50%, -50%); 
  color: white; /* Adjust to contrast with the image */
  display: flex;
  flex-direction: column; /* Stacks the elements vertically */
  align-items: center; /* Centers the text horizontally */
  justify-content: center; /* Centers the text vertically */
  text-align: center; /* Ensures text inside is centered */


}


.header-title{
  font-size: 3.5rem; /* Adjust size as needed */
  font-weight: bold; /* Optional for styling */
  font-family: 'Dancing Script';
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds text clarity */
  font-weight: bold; /* Optional for styling */
  text-shadow: 2px 2px 50px rgba(0, 0, 0, 0.5); /* Adds text clarity */
  font-weight: bold; /* Optional for styling */
}



.service-title{
  margin: auto;
  font-size: 2rem;
  text-align: center;
  margin-top: 50px;
  
}

.service {
  display: flex; /* Creates a horizontal layout */
  align-items: flex-start; /* Align items to the top */
  gap: 2rem; 
  margin-top: 7%;
  margin-left: 3rem;
  margin-right: 20%;
  overflow: hidden;
}

.eventPhotoDiv {
  flex: 0 0 auto;
  margin: 1rem; 
}

.events-page{
  overflow: hidden;
}

.eventPhoto {
  width: 20rem; 
  height: auto; 
  border-radius: 16px; 
  object-fit: cover; 
}

.eventDetails {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  margin: 1rem 
}

.eventDetails h2 {
  margin: 0 0rem 0; 
  font-size: 1.5rem; 
}

.eventDetails p {
  color: #555; 
}

.arrowButton {
  width: 120px;
  margin-top: 5%;
  padding: 0.5rem 1rem;
  background-color: #ffffff; 
  color: #000000; 
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 26px; 
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.arrowButton:hover {
  background-color: #1b1b19;
  color: white;
}

.footer {
  margin-top: 10%;
  background-color: #af9853;
  color: #fff;
  padding: 40px 0;
  bottom: 0;
  width: 100%;
  font-family:'Courier New', Courier, monospace
}

.footer-Div {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.footer-date {
  margin: 0;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  color: #c7c3c3;
}

.about-title{
  color: black;
  size: 2rem;
}

.about-text{
  color: black;
}